.chat-header {
  padding: 10px;
  text-align: left;
  align-items: center;
  display: flex;
  flex-direction: row;
  background-color: #e5e5e5;
}

.icon-btn {
  background-color: #e5e5e5;
  border: none;
  color: #149a33;
  cursor: pointer;
  border-radius: 3px;
  margin: 0 3px;
  padding: 4px;
}

.icon-btn > i > svg {
  display: block;
  margin: auto;
  width: 26px;
  height: 26px;
}

.icon-btn:hover {
  color: #14872e;
}

.toggle-btn {
  background-color: #149a33;
  color: #fff;
}

.toggle-btn:hover {
  background-color: #14872e;
  color: #fff;
}

.buttons-bar {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buttons-bar > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chat-name {
  margin-left: 20px;
}
