.chat-container {
  padding: 0;
  display: flex;
  height: 100%;
  background-color: #DDDDDD;
  position: relative;
}

.left-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  background: rgba(255, 0, 0, 0.6);
  overflow: hidden;
}

.chat-room {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.choose {
  margin-top: 39vh;
}

.chat-header {
  padding: 12px;
  text-align: left;
  position: relative;
}

.buttons-bar {
  float: right;
  display: flex;
}

.arrow-icon {
  position: absolute;
  top: 24%;
  left: 7px;
  padding: 0 5px;
  font-size: 20px;
  background-color: #149a33;
  color: #fff;
  cursor: pointer;
}

.arrow-icon > svg {
  margin-top: 5px;
  vertical-align: top !important;
}

.plus-icon {
  margin-right: 10px;
  font-size: 20px;
  color: #149a33;
  cursor: pointer;
}

.settings-dropdown {
  position: relative;
  cursor: pointer;
  font-size: 20px;
  color: #149a33;
}

.user-name {
  float: left;
  margin-left: 30px;
  line-height: 32px;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;
  float: left;
  min-width: 150px;
  padding: 0;
  color: #555;
  font-size: 16px;
  background-color: #fff;
  list-style: none;
  border: 1px solid #e5e5e5;
  box-shadow: 0 5px 8px rgba(0,0,0,.175);
}

.dropdown-list > li {
  display: block;
  padding: 4px 16px;
  clear: both;
  line-height: 1.4;
  white-space: nowrap;
}

.dropdown-list > li:hover {
  background-color: #f2f2f2;
}

.thread-container {
  background-color: white;
  overflow-y: auto;
  overflow-x: auto;
  flex: 1;
  height: 100%;
}

.thread {
  display: flex;
  flex-direction: column;
}

.message-container {
  float: left;
  text-align: left;
  padding: 1em;
}

.message-data {
  font-size: 12px;
  line-height: 1.1;
  margin-bottom: 5px;
  overflow: hidden;
  color: #aaaaaa;
  display: flex;
}

.message-data .message-name {
  margin-left: 3px;
}

.message {
  background-color: #28a745;
  border-radius: 20px;
  padding: 2px 12px;
  float: left;
  color: white;
  border-top-left-radius: 0;
}

.right {
  align-self: flex-end;
  background-color: white;
  text-align: right;
}

.right > .message-data {
  font-size: 12px;
  line-height: 1.1;
  margin-bottom: 5px;
  overflow: hidden;
  color: #aaaaaa;
  display: flex;
  text-align: right;
}

.right > .message-data > .time {
  align-self: end;
}

.right > .message {
  color: #333333;
  background-color: #DDDDDD;
  border-radius: 20px;
  padding: 2px 12px;
  float: right;
  border-top-right-radius:0
}

.chat-input {
  border: 1px solid #e5e5e5;
}

.chat-input:focus {
  outline: none;
}

.send {
  border-radius: 0;
}

.typing-user {
  color: #cccccc;
}
