html, body {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #444444;
}
//1187
@media screen and (max-width: 991px) {
  .chat-name {
    margin-left: 2em;
  }

  .sidebar-container {
    max-width: 240px;
  }
}

@media screen and (max-width: 767px) {
  .cog-icon {
    display: none;
  }

  .arrow-icon {
    margin-left: 3px;
  }

  .chat-name {
    margin-left: 2em;
  }

  .sidebar-container {
    max-width: 200px;
  }
}

@media screen and (max-width: 490px) {
  .outer-container {
    height: 100vh;
  }

  .arrow-icon {
    margin-left: 3px;
  }

  .chat-name {
    margin-left: 2em;
  }

  .plus-icon {
    margin-right: 5px;
  }

  .sidebar-container {
    max-width: 160px;
  }
}

.outer-container {
  display: flex;
  flex-direction: column;
  height: 100vh
}

.inner-container {
  height: -o-calc(100vh - 60px);
  height: -webkit-calc(100vh - 60px);
  height: -moz-calc(100vh - 60px);
  height: calc(100vh - 60px);
  padding: 0;
}

.login-title {
  color: white;
  margin-bottom: 1em;
}

.login {
  margin: 2em auto;
  padding: 2em;
  max-width: 400px;
}

.login-button {
  width: 100%;
}

.register-container {
  max-width: 400px;
  margin: auto;
  padding: 2em;
  color: white;
}

.register-link {
  font-size: 14px;
  color: white;
}

.register-link:hover {
  color: #28a745;
}
