.thread-container {
  background-color: white;
  overflow-y: auto;
  overflow-x: auto;
  flex: 1;
  height: 100%;
}

.thread {
  display: flex;
  flex-direction: column;
}

.message-container {
  padding: 0.3em 0.7em;
  align-self: flex-start;
}

.right {
  align-self: flex-end;
}

.user-avatar {
  height: 40px;
  width: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  float: left;
  margin-right: 5px;
}

.right > .user-avatar {
  display: none;
}

.message-data {
  float: right;
  text-align: left;
}

.right > .message-data {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.time {
  font-size: 12px;
  line-height: 1.1;
  margin-bottom: 5px;
  float: left;
  color: #aaa;
}

.message-name {
  font-size: 12px;
  line-height: 1.1;
  margin-bottom: 5px;
  padding-left: 3px;
  overflow: hidden;
  color: #aaa;
}

.right > .message-data > .message-name {
  text-align: right;
}

.message {
  background-color: #28a745;
  border-radius: 20px;
  padding: 2px 12px;
  float: left;
  color: white;
  border-top-left-radius: 0;
}

.right > .message-data > .message {
  color: #333333;
  background-color: #DDDDDD;
  float: right;
  border-radius: 20px;
  border-top-right-radius: 0;
}

.typing-user {
  color: #cccccc;
}
