.modal-container {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .20);
  position: relative;
}

.modal-header {
  border-bottom: 1px solid #e5e5e5;
}

.modal-title {
  margin: 0 2em;
}

.modal-body {
  padding: 0;
}

.users {
  margin-bottom: 0;
  background-color: #e5e5e5;
  color: #777;
}

.modal-btn {
  background-color: #fff;
  border: 0;
  color: #149a33;
  cursor: pointer;
}

.modal-btn:focus {
  outline: 0;
}

.dot-icon {
  height: 10px;
  width: 10px;
  background-color: #149a33;
  border-radius: 50%;
  float: left;
  margin: 15px 20px;
}

.added {
  float: right;
  font-size: 11px;
  margin-right: 10px;
  color: #777;
  margin-top: 4px;
}

.react-responsive-modal-overlay {
  background: rgba(0, 0, 0, 0.4);
}
