.sidebar-container {
  max-width: 340px;
  background-color: white;
  border-right: 1px solid #e5e5e5;
}

.sidebar {
  color: #444;
  height: 100%;
  overflow: hidden;
}

.hidden {
  width: 0px;
  visibility: hidden;
}

.shown {
  width: 250px;
  visibility: visible;
}

.heading {
  position: relative;
  font-size: 16px;
  margin: 10px;
  height: 30px;
}

.heading-title {
  margin-bottom: 0;
  line-height: 28px;
}

.cog-icon {
  font-size: 26px;
  color: #149a33;
  cursor: pointer;
  position: absolute;
  left: 3%;
  line-height: 1;
}

.search {
  padding: 8px 0;
  position: relative;
  border-top: 1px solid #e5e5e5;
}

.search-bar {
  width: 90%;
  background-color: #f1eaea;
  border-radius: 5px;
  border-style: none;
  font-size: 16px;
  padding: 5px 10px;
  color: #333;
}

.search-icon {
  background-color: #f1eaea;
  color: #777;
  position: absolute;
  right: 8%;
  top: 33%;
}

.search-icon > svg {
  display: block;
  margin: auto;
}

.list-heading {
  margin-bottom: 0;
  background-color: #e5e5e5;
  color: #666;
}

.chat-list {
  list-style: none;
  padding-left: 0;
  min-height: 40%;
  overflow: auto;
}

.chat-list-item {
  text-align: left;
  padding: 0.8em 1em;
  margin: 0 auto;
  cursor: pointer;
  border-bottom: 1px solid #e5e5e5;
  border: none;
  width: 100%;
}

.active {
  background-color: #28a745;
  color: white;
}

.active > .chat-info > .name, .active > .last-message {
  color: #fff;
}

.chat-list-item:hover {
  background-color: #eeeeee;
}

.active:hover {
  background-color: #28a745;
}

.chat-icon {
  display: inline-block;
  font-weight: bold;
}

.chat-info {
  overflow: hidden;
}

.name {
  display: inline-block;
  margin-left: 1em;
}

.last-message {
  font-size: 12px;
  color: #777777;
  margin-left: 2em;
}
